@page "{id:int}"
@model Projeto.Pages.Drivers.DeleteModel

@* Título *@
<h1>Eliminar piloto</h1>

@* Verifica se o piloto foi encontrado e dá uma mensagem de erro quando não encontra *@
@if (Model.Driver == null)
{
    <p>Piloto não encontrado.</p>
}
else
{
    @* Pedido de confirmação para a eliminação do piloto. *@
    <div class="alert alert-warning">
        Tens a certeza que queres eliminar este piloto?
    </div>

    @* Lista de descrição usada para apresentar os dados do piloto de forma organizada. *@
    <dl class="row">
        @* Nome do piloto *@
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Driver.Name</dd>

        @* Idade do Piloto. *@
        <dt class="col-sm-2">Idade</dt>
        <dd class="col-sm-10">@Model.Driver.Age</dd>

        @* Nacionalidade do piloto. *@
        <dt class="col-sm-2">Nacionalidade</dt>
        <dd class="col-sm-10">@Model.Driver.Nationality</dd>

        @* Equipa dp piloto. *@
        <dt class="col-sm-2">Equipa</dt>
        <dd class="col-sm-10">@Model.Driver.Team?.Name</dd>
    </dl>

    @* Cria um formulário que envia os dados para o método OnPostAsync do PageModel. *@
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Driver.Id" />
        
        @* Butões. *@
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </form>
}
