@page
@model Projeto.Pages.Drivers.IndexModel

@* Título *@
<h1>Classificação de Pilotos</h1>

@* Verifica se o utilizador atual é Admin para mostrar ações restritas. *@
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Criar novo piloto</a>
    </p>
}

@* Tabela de classificação dos pilotos. *@
<table class="table">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Piloto</th>
            <th>Nacionalidade</th>
            <th>Equipa</th>
            <th>Pontos</th>
            <th>Ações</th>
        </tr>
    </thead>

    @* Corpo da tabela, onde serão inseridas as linhas dos pilotos. *@
    <tbody>
        @{
            @* Inicializa a posição da classificação no primeiro lugar. *@
            var position = 1;
        }

        @* Percorre todos os pilotos e a sua informação para ser carregada para a página de detalhes *@
        @foreach (var driver in Model.Drivers)
        {
            <tr>
                <td>@position</td>
                <td>@driver.Name</td>
                <td>@driver.Nationality</td>
                <td>@driver.TeamName</td>
                <td><strong>@driver.Points</strong></td>
                <td>
                    <a asp-page="Details"
                       asp-route-id="@driver.Id"
                       class="btn btn-primary btn-sm">
                        Detalhes
                    </a>

                    @* Verifica se o utilizador atual é Admin para mostrar ações restritas. *@
                    @if (User.IsInRole("Admin"))
                    {
                        @* Cria um link para a página de edição do piloto selecionado. *@
                        <a asp-page="Edit"
                           asp-route-id="@driver.Id"
                           class="btn btn-warning btn-sm">
                            Editar
                        </a>

                        <a asp-page="Delete"
                           asp-route-id="@driver.Id"
                           class="btn btn-danger btn-sm">
                            Eliminar
                        </a>
                    }
                </td>
            </tr>

            @* Incrementa a posição para o próximo piloto da lista. *@
            position++;
        }
    </tbody>
</table>
