@page
@model Projeto.Pages.RaceDrivers.DetailsModel

@* Título *@
<h1>Resultados - @Model.Race?.GrandPrixName</h1>

<p>
    <strong>Data:</strong> @Model.Race?.Date.ToShortDateString()
</p>

<p>
    <strong>Circuito:</strong> @Model.Race?.Circuit
</p>

@* Tabela de resultados *@
<table class="table">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Piloto</th>
            <th>Equipa</th>
            <th>Pontos</th>
            <th>Ações</th>
            <p>
                <a asp-page="Create"
                    asp-route-raceId="@Model.Race.Id"
                    class="btn btn-success">
                        Adicionar resultado 
                </a>
            </p> 
        </tr>
    </thead>

    <tbody>
@* Percorre todos os elementos da coleção para os apresentar. *@
    @foreach (var item in Model.RaceDrivers)
        {
            <tr>
                <td>@item.Position</td>
                <td>@item.Driver?.Name</td>
                <td>@item.Driver?.Team?.Name</td>
                <td>
                    @{
                        var points = item.Position switch
                        {
                            "1" => 25,
                            "2" => 18,
                            "3" => 15,
                            "4" => 12,
                            "5" => 10,
                            "6" => 8,
                            "7" => 6,
                            "8" => 4,
                            "9" => 2,
                            "10" => 1,
                            _ => 0
                        };
                    }

                    @points
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="Edit"
                        asp-route-raceId="@item.RaceId"
                        asp-route-driverId="@item.DriverId"
                        class="btn btn-warning btn-sm">
                            Editar
                        </a>

                        <a asp-page="Delete"
                        asp-route-raceId="@item.RaceId"
                        asp-route-driverId="@item.DriverId"
                        class="btn btn-danger btn-sm">
                            Eliminar
                        </a>
                    }
                </td>                       
            </tr>
        }
    </tbody>
</table>

<a asp-page="Index" class="btn btn-secondary">Voltar</a>